.app-container {
  // background-image: url("/assets/images/bg-register.png");
  display: flex;
  height: 100vh;
}

.navigation {
  width: 300px;
  padding: 20px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
}

.navigation ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

p {
  font-family: Lato;
}

#root {
  padding: 30px;
}
