<div id="user-profile">
  <div class="container mt-5">
    <h3>Olá, {{ userName }}. Seja bem-vindo!</h3>
    <p class="lead">É necessário configurar a empresa matriz para visualizar as informações do sistema.</p>
    <button class="btn btn-primary" (click)="abrirModalConfiguracao()">Iniciar configuração</button>
  </div>

  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button type="button" class="close ml-auto" (click)="fecharModal($event)">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Editar empresa</h4>

      <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
        <!-- Linha 1 -->
        <div class="form-row">
          <div class="col-2 mb-3 mt-3">
            <label for="companyType">Tipo de empresa</label>
            <input type="text" formControlName="companyType" class="form-control" />
          </div>
        </div>

        <!-- Linha 2 -->
        <div class="form-row">
          <div class="col-md-7 mb-3">
            <label for="companyName">Nome da empresa *</label>
            <input type="text" class="form-control" formControlName="companyName"
              [ngClass]="{ 'is-invalid': submitted && f['companyName'].errors }">
            <div *ngIf="submitted && f['companyName'].errors" class="invalid-feedback">
              <div *ngIf="f['companyName'].errors['required']">O nome da empresa é obrigatório.</div>
            </div>
          </div>

          <div class="col-md-5 mb-3">
            <label for="companyCNPJ">CNPJ da empresa *</label>
            <input type="text" class="form-control" formControlName="companyCNPJ"
              [ngClass]="{ 'is-invalid': submitted && f['companyCNPJ'].errors }" appCpfMask="99.999.999/9999-99">
            <div *ngIf="submitted && f['companyCNPJ'].errors" class="invalid-feedback">
              <div *ngIf="f['companyCNPJ'].errors['required']">O CNPJ é obrigatório.</div>
              <div *ngIf="f['companyCNPJ'].errors['cnpjNotValid']">O CNPJ não é válido.</div>
            </div>
          </div>
        </div>

        <!-- Linha 3 -->
        <div class="form-row">
          <div class="col-md-1 mb-3">
            <div class="form-group">
              <label for="companyCEP">CEP</label>
              <input type="text" class="form-control" formControlName="companyCEP" placeholder="CEP">
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label for="companyAddress">Endereço</label>
              <input type="text" class="form-control" formControlName="companyAddress" placeholder="Endereço">
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <div class="form-group">
              <label for="companyNeighborhood">Bairro</label>
              <input type="text" class="form-control" formControlName="companyNeighborhood" placeholder="Bairro">
            </div>
          </div>

          <div class="col-md-1 mb-3">
            <div class="form-group">
              <label for="companyState">Estado</label>
              <select class="form-control" formControlName="companyState">
                <!-- Opções de estado vão aqui -->
              </select>
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <div class="form-group">
              <label for="companyCity">Cidade</label>
              <select class="form-control" formControlName="companyCity">
                <!-- Opções de cidade vão aqui -->
              </select>
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <div class="form-group">
              <label for="companyComplement">Complemento</label>
              <input type="text" class="form-control" formControlName="companyComplement" placeholder="Complemento">
            </div>
          </div>
        </div>

        <!-- Linha 4 -->
        <div class="form-row">
          <div class="col-md-2 mb-3">
            <div class="form-group">
              <label for="adminCel">Celular *</label>
              <input type="text" class="form-control" formControlName="adminCel" appCellphoneMask
                [ngClass]="{ 'is-invalid': submitted && f['adminCel'].errors }">
              <div *ngIf="submitted && f['adminCel'].errors" class="invalid-feedback">
                <div *ngIf="f['adminCel'].errors['required']">O celular é obrigatório.</div>
              </div>

            </div>
          </div>

          <div class="col-md-2 mb-3">
            <div class="form-group">
              <label for="adminName">Nome do administrador *</label>
              <input type="text" class="form-control" formControlName="adminName"
                [ngClass]="{ 'is-invalid': submitted && f['adminName'].errors }">
              <div *ngIf="submitted && f['adminName'].errors" class="invalid-feedback">
                <div *ngIf="f['adminName'].errors['required']">O administrador é obrigatório.</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label for="adminCPF">CPF *</label>
              <input type="text" class="form-control" formControlName="adminCPF" appCpfMask="999.999.999-99"
                [ngClass]="{ 'is-invalid': submitted && f['adminCPF'].errors }">
              <div *ngIf="submitted && f['adminCPF'].errors" class="invalid-feedback">
                <div *ngIf="f['adminCPF'].errors['required']">O CPF é obrigatório.</div>
                <div *ngIf="f['adminCPF'].errors['cpfNotValid']">O CPF não é válido.</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label for="companyEmail">E-mail *</label>
              <input type="email" class="form-control" formControlName="companyEmail"
                [ngClass]="{ 'is-invalid': submitted && f['companyEmail'].errors }">
              <div *ngIf="submitted && f['companyEmail'].errors" class="invalid-feedback">
                <div *ngIf="f['companyEmail'].errors['required']">E-mail é obrigatório.</div>
                <div *ngIf="f['companyEmail'].errors['email']">E-mail é inválido.</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->

        <div class="modal-actions">
          <button type="button" (click)="onReset()" class="btn btn-secondary"
            (click)="isModalOpen = false">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="submitted && companyForm.invalid">Salvar</button>
        </div>


      </form>
    </div>
  </div>